<h2>
    Crafty Losers RPG (BETA)</h2>
<div class="rpg_topbar">
    <div class="topbar-inner">
        <div class="container">
            <ul class="nav" style="color: #BFBFBF;">
                <li>@Html.ActionLink("Profile", "Profile", "RPG")</li>
                <li>@Html.ActionLink("Track", "WorkoutLog", "RPG")</li>
                <li>@Html.ActionLink("Leaderboard", "Leaderboard", "RPG")</li>
                <li><a href="#">Achievements (coming soon)</a></li>
                <li><a href="#">Quests (coming soon)</a></li>
                <li>@Html.ActionLink("About", "About", "RPG")</li>
                @*<li>@Html.ActionLink("Achievements", "Achievements", "RPG")</li>
                <li>@Html.ActionLink("Quests", "Quests", "RPG")</li>*@
            </ul>
        </div>
    </div>
</div>