@model CraftyLosers.Models.WorkoutLog
@{
    ViewBag.Title = "Edit";
}
@section style
{
#WorkoutDate { cursor: default; }
}
@Html.Partial("_RpgNav")
<h2>
    Edit</h2>

@Html.LabelFor(model => model.WorkoutRef.Description)
@Html.TextBoxFor(model => model.WorkoutRef.Description, new { @readonly = "readonly" })
@Html.LabelFor(model => model.Calories)
@Html.TextBoxFor(model => model.Calories, new { @readonly = "readonly" })

@using (Html.BeginForm("EditLog", "RPG", FormMethod.Post, new { @class = "form-vertical" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.WorkoutRefId)    
    @Html.HiddenFor(model => model.Calories)

    <hr />
    
    @Html.LabelFor(model => model.WorkoutDate)
    @Html.EditorFor(model => model.WorkoutDate)
    @Html.ValidationMessageFor(model => model.WorkoutDate)

    @Html.LabelFor(model => model.Qty)
    @Html.EditorFor(model => model.Qty)
    @Html.ValidationMessageFor(model => model.Qty)

    <div class="form-actions">
        <input type="submit" value="Save" class="btn btn-primary" />
        @Html.ActionLink("Cancel", "WorkoutLog", "RPG", null, new { @class = "btn" })
    </div>
}
@section javascript
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("#WorkoutDate").datepicker(
                {
                    minDate: new Date("2/17/2014"),
                    maxDate: new Date("5/09/2014")
                });

            $("#WorkoutDate").attr('readonly', true);
        });
    </script>
}
