@model CraftyLosers.Models.Profile
@{
    ViewBag.Title = "Profile";
}
@section style
{
    .progress
    {
        height:28px;
    }
    .progress .bar
    {
        height:28px;
        text-shadow: none;
    }
}
@Html.Partial("_RpgNav")
<h2>
    Profile</h2>
<div class="row">
    <div class="span7">
        <div class="form-vertical">
            @Html.HiddenFor(model => model.User.Id)
            @Html.LabelFor(model => model.User.UserName)
            @Html.TextBoxFor(model => model.User.UserName, new { @readonly = "readonly" })
            @Html.LabelFor(model => model.Level)
            <div class="row">
                <div class="span3">
                    <div class="progress progress-info">
                        <div class="bar" style="text-align: left; width:@{<text>@Model.LevelPercent</text>}%;">
                            <span style="position: absolute; margin-left: 10px; margin-top: 5px; font-size: 13px; line-height: 18px; color: #555;">@ViewBag.PGText
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            @Html.LabelFor(model => model.Points)
            @Html.TextBoxFor(model => model.Points, new { @readonly = "readonly" })
            @Html.LabelFor(model => model.Achievements)
            @{
                @Html.TextBoxFor(model => model.Achievements.Count, new { @readonly = "readonly" })
            }
            @Html.LabelFor(model => model.Quests)
            @Html.TextBoxFor(model => model.Quests, new { @readonly = "readonly" })
        </div>
    </div>
    <div class="span3">
        <div>
            <h3>
                Achievements Unlocked</h3>
            @foreach (var item in Model.Achievements)
            {
                <span title="@item.Description" class="label label-success">@item.Title</span>
            }
            <div>@Html.ActionLink("View All", "Achievements", new { id = Model.User.Id })</div>
        </div>
        @*        <hr />
        <div>
            <h3>
                Quests Completed</h3>
            @foreach (var item in Model.Achievements)
            {
                <span title="@item.Description" class="label important">@item.Title</span>
            }
        </div>*@
    </div>
</div>
