@model CraftyLosers.Util.PagedList<CraftyLosers.Models.WorkoutLog>
@using CraftyLosers.Util;
@{
    ViewBag.Title = "WorkoutLog";
}

@Html.Partial("_RpgNav")

<h2>WorkoutLog</h2>

<div class="actions form-stacked">
    @Html.ActionLink("Log", "Log", "RPG", null, new { @class = "btn primary" })
</div>
<table>
    <tr>
        <th>
            Workout
        </th>
        <th style="text-align: right;">
            Workout Date
        </th>
        <th style="text-align: right;">
            Rep/Duration
        </th>
        <th style="text-align: right;">
            Calories
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Items)
{
    <tr>
       <td>
            @Html.DisplayFor(modelItem => item.WorkoutRef.Description)
        </td>
        <td style="text-align: right;">
            @Html.DisplayFor(modelItem => item.WorkoutDate)
        </td>
        <td style="text-align: right;">
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td style="text-align: right;">
            @Html.DisplayFor(modelItem => item.Calories)
        </td>
        <td style="text-align: right;">
            @Html.ActionLink("Edit", "EditLog", new { id = item.Id }) |
            @Html.ActionLink("Delete", "DeleteLog", new { id = item.Id })
        </td>
    </tr>
}
</table>
@Html.BootstrapPager(Model,10,2)