@model IEnumerable<CraftyLosers.ViewModels.Stats>
@{
    ViewBag.Title = "Crafty Losers";
}
<div class="row">
    <div class="span7">
        <h2>
            Now showing on select scales...</h2>
        <ul>
            <li>Contest lasts from February 17th to May 9th.</li>
            <li>You must sign up by February 9th</li>
            <li>This contest is NOT affiliated with Hobby Lobby or Hobby Lobby's I/S Department.</li>
            <li>Contest is FREE to join.</li>
            <li>There is an optional $20 pot due no later that Feburary 28th.</li>
            <li>The Pot will be divide as such: First Place gets 50%, Second Place gets 30%, and Third Place gets 20%.</li>
            <li>We are using a digital scale this year, but we need to find one. If you have an
                accurate scale to loan for a few months, please let me know.</li>
            <li>If you still like to join, but missed the weigh in, let me know so we can make an
                arrangement to bring the scale back.</li>
            <li>Joann Burner and Susan McKim has accepted the role as the Scale Master.</li>
            <li>Joann Burner or Susan McKim will enter your Start Weight at the beginning of the contest and your Final Weight at the end of the contest.</li>
            <li>Try to weigh in only on a break or lunch.</li>
            <li>The winners will be determined by the greatest percentage of weight lost.</li>
            <li>Sign up on this site can remain anonymous. You have the option to keep your user
                name from showing</li>
            <li>You may record you weight as many times as you like between the start and end dates,
                which will reflect progress.</li>
            <li>Tools, reports, charts, goals, etc may be added to the site eventually. Recommendations
                are always welcomed and are needed.</li>            
        </ul>
        <hr />
        <span class="label label-success">(officially)</span>
        <h2>
            Total Crafty Weight Lost: @ViewBag.OfficialTotalLost pounds</h2>
        <hr />
        <span class="label label-info">(unofficially)</span>
        <h2>
            Total Crafty Weight Lost: @ViewBag.TotalLost pounds</h2>
    </div>
    <div class="span3 pull-right">
        <div>
            <h3>
                Official Ranking</h3>
            <table class="table table-striped table-condensed">
                <tr>
                    <th>
                        User
                    </th>
                    <th style="text-align: right;">
                        % Lost
                    </th>
                </tr>
                @foreach (var item in Model.OrderByDescending(e => e.OfficialPercentLost).ToList())
                {
                    <tr>
                        <td>
                            @if (item.User.DisplayName)
                            {
                                @Html.DisplayFor(modelItem => item.User.UserName)
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.User.Id) 
                            }
                        </td>
                        <td style="text-align: right;">
                            @Html.DisplayFor(modelItem => item.OfficialPercentLost)
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div>
            <h3>
                Ranking</h3>
            <table class="table table-striped table-condensed">
                <tr>
                    <th>
                        User
                    </th>
                    <th style="text-align: right;">
                        % Lost
                    </th>
                </tr>
                @foreach (var item in Model.OrderByDescending(e => e.PercentLost).ToList())
                {
                    <tr>
                        <td>
                            @if (item.User.DisplayName)
                            {
                                @Html.DisplayFor(modelItem => item.User.UserName)
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.User.Id) 
                            }
                        </td>
                        <td style="text-align: right;">
                            @Html.DisplayFor(modelItem => item.PercentLost)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
