@model CraftyLosers.Models.User

@{
    ViewBag.Title = "ViewPage1";
}

<h2>ViewPage1</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">UserName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">DisplayName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DisplayName)
    </div>

    <div class="display-label">PW</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PW)
    </div>

    <div class="display-label">Active</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Active)
    </div>

    <div class="display-label">SignUpDateTime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SignUpDateTime)
    </div>

    <div class="display-label">StartWeight</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartWeight)
    </div>

    <div class="display-label">GoalWeight</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GoalWeight)
    </div>

    <div class="display-label">EndWeight</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndWeight)
    </div>

    <div class="display-label">Admin</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Admin)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
