@model CraftyLosers.Models.User
@{
    ViewBag.Title = "Account";
}
<h2>
    Account</h2>
@using (Html.BeginForm("Account", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.UserName)
    @Html.HiddenFor(model => model.StartWeight)
    @Html.HiddenFor(model => model.EndWeight)
    @Html.HiddenFor(model => model.Active)
    @Html.HiddenFor(model => model.PW)
    @Html.HiddenFor(model => model.SignUpDateTime)
    @Html.HiddenFor(model => model.Admin)
    @Html.HiddenFor(model => model.Paid)
    
    <div class="control-group">
        @Html.LabelFor(model => model.Id)
        <div class="controls">
            @Html.TextBoxFor(model => model.Id, new { @readonly = "readonly" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(model => model.UserName)
        <div class="controls">
            @Html.TextBoxFor(model => model.UserName, new { @readonly = "readonly" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(model => model.StartWeight)
        <div class="controls">
            @Html.TextBoxFor(model => model.StartWeight, new { @readonly = "readonly" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(model => model.EndWeight)
        <div class="controls">
            @Html.TextBoxFor(model => model.EndWeight, new { @readonly = "readonly" })
        </div>
    </div>
    <hr />
    
    <div class="control-group">
        @Html.LabelFor(model => model.Email)
        <div class="controls">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(model => model.GoalWeight)
        <div class="controls">
            @Html.EditorFor(model => model.GoalWeight)
            @Html.ValidationMessageFor(model => model.GoalWeight)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(model => model.DisplayName)
        <div class="controls">
            @Html.EditorFor(model => model.DisplayName) <span class="label notice">(Uncheck if you
                want to be more anonymous.)</span>
            @Html.ValidationMessageFor(model => model.DisplayName)
        </div>
    </div>

    <div class="form-actions">
        <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Change Password", "ChangePassword", "Account", new { @class="btn" })
            @if (Model.Admin)
            {
                @Html.ActionLink("Admin Weights", "AdminWeights", "Account", new { @class="btn" })
            }
        
    </div>
    
}
@section javascript
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}
