@model CraftyLosers.Models.User

@{
    ViewBag.Title = "Admin Weight";
}

<h2>Admin Weight</h2>

@using (Html.BeginForm("AdminWeightEdit", "Account", FormMethod.Post, new { @class="form-stacked" }))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.UserName)
    @Html.HiddenFor(model => model.PW)
    @Html.HiddenFor(model => model.DisplayName)
    @Html.HiddenFor(model => model.SignUpDateTime)
    @Html.HiddenFor(model => model.GoalWeight)
    @Html.HiddenFor(model => model.Admin)
    @Html.HiddenFor(model => model.Paid)
    @Html.HiddenFor(model => model.Email)
    
    @Html.LabelFor(model => model.Id)
    @Html.DisplayFor(model => model.Id)
    
    @Html.LabelFor(model => model.UserName)
    @Html.DisplayFor(model => model.UserName)
    
    @Html.LabelFor(model => model.Active)
    @Html.EditorFor(model => model.Active)
    @Html.ValidationMessageFor(model => model.Active)
    
    @Html.LabelFor(model => model.StartWeight)
    @Html.EditorFor(model => model.StartWeight)
    @Html.ValidationMessageFor(model => model.StartWeight)
    
    @Html.LabelFor(model => model.EndWeight)
    @Html.EditorFor(model => model.EndWeight)
    @Html.ValidationMessageFor(model => model.EndWeight)
    
    <div class="actions">
        <input type="submit" value="Save" class="btn primary" />
        @Html.ActionLink("Cancel", "AdminWeights", "Account", null, new { @class="btn secondary" })
    </div>
}

