@model CraftyLosers.ViewModels.Register

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    @Html.LabelFor(model => model.User.UserName)
    @Html.EditorFor(model => model.User.UserName)
    @Html.ValidationMessageFor(model => model.User.UserName)
    
    @Html.LabelFor(model => model.Email)
    @Html.EditorFor(model => model.Email)
    @Html.ValidationMessageFor(model => model.Email)
    <span class="label label-info">(Required in case you ever need to reset password.  Email will never be displayed.)</span>            
    
    @Html.LabelFor(model => model.User.PW)
    @Html.EditorFor(model => model.User.PW)
    @Html.ValidationMessageFor(model => model.User.PW)
    
    @Html.LabelFor(model => model.ConfirmPassword)
    @Html.EditorFor(model => model.ConfirmPassword)
    @Html.ValidationMessageFor(model => model.ConfirmPassword)
    
    <div class="form-actions">
        <input type="submit" value="Create" class="btn btn-primary" /> 
        @Html.ActionLink("Cancel", "Index", "Home", null, new { @class="btn" })
    </div>
}

@section javascript
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('input[type=submit]').click(function (evt) {
                evt.preventDefault();
                var self = $(this);
                var frm = self.closest('form');
                frm.validate();
                if (frm.valid()) {
                    frm.submit();
                    self.attr('disabled', 'disabled');
                    self.attr('value', 'Registering....');
                }
            });
        });
    </script>
}
