@model CraftyLosers.ViewModels.CheckIn

@{
    ViewBag.Title = "CheckIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CheckIn</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <div>
        
        @*<div class="editor-label">
            @Html.LabelFor(model => model.UserId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserId)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>*@
        @*@Html.HiddenFor(model => model.UserId)*@

        <div class="editor-label">
            @Html.LabelFor(model => model.CheckInDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CheckInDate)
            @Html.ValidationMessageFor(model => model.CheckInDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Weight)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Weight)
            @Html.ValidationMessageFor(model => model.Weight)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section javascript
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}
