@model CraftyLosers.Models.WeightCheckIn
@{
    ViewBag.Title = "Delete";
}
<h2>
    Delete</h2>
<h3>
    Are you sure you want to delete this?</h3>
@using (Html.BeginForm("Delete", "Weight", FormMethod.Post))
{
    @Html.HiddenFor(model => model.UserId)

    @Html.LabelFor(model => model.CheckInDate)
    @Html.TextBox("CheckInDate", Model.CheckInDate.ToString("MM/dd/yyyy"), new { @readonly = "readonly" })
    
    @Html.LabelFor(model => model.Weight)
    @Html.TextBoxFor(model => model.Weight, new { @readonly = "readonly" })
    <div class="form-actions">
        <input type="submit" value="Delete" class="btn btn-primary" />
        @Html.ActionLink("Back to List", "WeightCheckIns", "Weight", new { @class = "btn" })
    </div>
}
