@model CraftyLosers.ViewModels.Stats

@{
    ViewBag.Title = "Stats";
}

<h2>Stats</h2>
@Html.ValidationSummary(true)
<div>
    <div class="display-label">DaysLeft</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DaysLeft)
    </div>

    <div class="display-label">WeeksLeft</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WeeksLeft)
    </div>

    <div class="display-label">StartingWeight</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartingWeight)
    </div>

    <div class="display-label">GoalWeight</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GoalWeight)
    </div>

    <div class="display-label">CurrentWeight</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrentWeight)
    </div>

    <div class="display-label">PercentLost</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PercentLost)
    </div>

    <div class="display-label">WeightLeft</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WeightLeft)
    </div>

    <div class="display-label">PoundsLost</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PoundsLost)
    </div>

    <div class="display-label">lbs/wk for Goal</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PerWeek)
    </div>
</div>
