@model CraftyLosers.ViewModels.Stats

@{
    ViewBag.Title = "Stats";
}

<h2>Stats</h2>
<div class="form-stacked">        
    @Html.LabelFor(model => model.DaysLeft)
    @Html.DisplayFor(model => model.DaysLeft)
    
    @Html.LabelFor(model => model.WeeksLeft)
    @Html.DisplayFor(model => model.WeeksLeft)
    
    @Html.LabelFor(model => model.StartingWeight)
    @Html.DisplayFor(model => model.StartingWeight)
    
    @Html.LabelFor(model => model.GoalWeight)
    @Html.DisplayFor(model => model.GoalWeight)
    
    @Html.LabelFor(model => model.CurrentWeight)
    @Html.DisplayFor(model => model.CurrentWeight)
    
    @Html.LabelFor(model => model.PercentLost)
    @Html.DisplayFor(model => model.PercentLost)
    
    @Html.LabelFor(model => model.WeightLeft)
    @Html.DisplayFor(model => model.WeightLeft)
    
    @Html.LabelFor(model => model.PoundsLost)
    @Html.DisplayFor(model => model.PoundsLost)
    
    @Html.LabelFor(model => model.PerWeek)
    @Html.DisplayFor(model => model.PerWeek)
</div>
