@model IEnumerable<CraftyLosers.Models.Comment>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div class="postWrapper">
                    <div class="postDetails">
                        Comment by: @(item.User.DisplayName ? item.User.UserName : item.UserId.ToString())
                        on @item.CommentDateTime
                        <span style="padding-left: 5px; text-decoration: none;">
                            @if (User.Identity.Name.ToLower() == item.User.UserName.ToLower())
                            { 
                                @Html.ActionLink("Edit", "EditComment", new { id = item.Id })                                
                            }
                            @if (User.Identity.Name.ToLower() == item.User.UserName.ToLower() || User.Identity.Name.ToLower() == item.Post.User.UserName.ToLower())
                            {
                                <text> | </text>@Html.ActionLink("Delete", "DeleteComment", new { id = item.Id })
                            }
                        </span>
                    </div>
                    <div class="postContent">
                        @item.CommentContent
                    </div>
                </div>
            </td>
        </tr>
    }
</table>
