@model CraftyLosers.Models.Comment

@{
    ViewBag.Title = "Edit Comment";
}

<h2>Edit Comment</h2>

@using (Html.BeginForm("EditComment", "Post", FormMethod.Post, new { @class = "form-stacked" }))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.PostId)
    @Html.HiddenFor(model => model.CommentDateTime)
    @Html.HiddenFor(model => model.UserId)
    
    @Html.LabelFor(model => model.CommentContent)
    @Html.TextAreaFor(model => model.CommentContent, new { @class = "xxlarge" })
    @Html.ValidationMessageFor(model => model.CommentContent)
    <div class="actions">
        <input type="submit" value="Save" class="btn primary" />
        @Html.ActionLink("Cancel", "Posts", "Post", null, new { @class="btn secondary" })
    </div>
}

@section javascript
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}
