@model CraftyLosers.Util.PagedList<CraftyLosers.Models.Post>
@using CraftyLosers.Util;
@{
    ViewBag.Title = "Posts";
}

<h2>Posts</h2>

<div class="form-actions form-vertical">
    @Html.ActionLink("Add Post", "Post", "Post", null, new { @class = "btn btn-primary" })
</div>
<table>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td style="border-bottom: 2px solid Navy; border-top: 2px solid Navy;">
                <div class="postWrapper">
                    <div class="postTitle">
                        @item.Title
                    </div>
                    <div class="postDetails">
                        by: @(item.User.DisplayName ? item.User.UserName : item.UserId.ToString())
                        on @item.DateCreated
                        @if (User.Identity.Name.ToLower() == item.User.UserName.ToLower())
                        { 
                            <span style="padding-left: 5px; text-decoration: none;">
                                @Html.ActionLink("Edit", "EditPost", new { id = item.Id }) | 
                                @Html.ActionLink("Delete", "DeletePost", new { id = item.Id })
                            </span>
                        }
                    </div>
                    <div class="postContent">
                        @item.PostContent
                    </div>
                    <div style="text-align: right; padding: 5px;">
                        @Html.ActionLink("Comment", "Comment", new { id = item.Id })
                    </div>
                    <div style="padding-left: 50px;">
                        @Html.Partial("_Comments", item.Comments)
                    </div>
                </div>
            </td>
        </tr>
    }
</table>
@Html.BootstrapPager(Model,10,2)

