@model CraftyLosers.Models.Post

@{
    ViewBag.Title = "Post";
}

<h2>Post</h2>

@using (Html.BeginForm("Post", "Post", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    
    @Html.LabelFor(model => model.Title)
    @Html.EditorFor(model => model.Title)
    @Html.ValidationMessageFor(model => model.Title)
    
    @Html.LabelFor(model => model.PostContent)
    @Html.TextAreaFor(model => model.PostContent, new { @class = "span7", @rows = 5 })
    @Html.ValidationMessageFor(model => model.PostContent)
    
    <div class="form-actions">
        <input type="submit" value="Post" class="btn btn-primary" />
        @Html.ActionLink("Cancel", "Posts", "Post", null, new { @class = "btn" })
    </div>
}
@section javascript
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}